sim_assets/meshes/**
sim_assets/textures/**

!sim_assets/meshes/
!sim_assets/textures/
!sim_assets/meshes/.gitkeep
!sim_assets/textures/.gitkeep

__pycache__/
*.pyc

*.log
.cache/

.DS_Store

.vscode/

*.zip